{% extends 'base.html'%}

{% block content %}

<main class="container py-5">
<section class="card card-boby">
<h1 class="display-1 text-center">Django App</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat saepe, beatae, laboriosam eius obcaecati repellat iure assumenda qui officia voluptates nostrum eos tempora vitae veniam sequi tempore est fugiat quisquam delectus? Odit, quos vitae! Cum provident, nesciunt beatae harum, quo quis veniam dignissimos et, eius tenetur consequatur molestiae a culpa enim modi quibusdam! Hic illum quae maxime ducimus quos laudantium delectus officia. Eaque voluptatem deserunt laudantium ipsam asperiores mollitia suscipit, aspernatur, optio quia dolorum nam animi ea assumenda sunt eos officiis dicta deleniti? Laudantium debitis cum ut dolores, nesciunt eum ipsam accusantium atque reprehenderit architecto eaque tempore reiciendis distinctio ipsum.</p>

<div class="text-center">
    <a class="btn btn-secondary" href="/singin/">
SingIn
    </a>
     <a class="btn btn-dark" href="/singup/">
SingUp
    </a>
</div>

</section>
</main>
{% endblock %}